body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.jumbotron {
  opacity: .7;
  margin-top: 20px;
  background-image: url(../../resources/images/pizzacat.gif);
  background-size: cover;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
}
